1. **What are data structures, and why are they important?**
     
     -> Data structures are methods of organizing data in a computer program, allowing for efficient storage and access of information, making them crucial in Python as they enable developers to structure and manipulate data effectively based on the problem they're solving, leading to optimized code and faster execution times.

     **Why data structures are important in Python:**
       Algorithm design
       Data manipulation
       Readability

2.  **Explain the difference between mutable and immutable data types with
     examples.**

     -> **Mutable data types**    
        Can be changed after creation
        Can add, remove, or update elements or properties
        Ideal for dynamic data
        Examples include lists, dictionaries, and sets

       **Immutable data types **
        Cannot be changed after creation
        Values or properties cannot be modified directly
        Ensure data integrity and thread safety
        Examples include strings, tuples, numbers, booleans, null, and undefined  

3.  **What are the main differences between lists and tuples in Python?**

     ->**Differences between List and Tuple in Python**

      **LIST**
      Lists are mutable.
      The implication of iterations is Time-consuming.
      The list is better for performing operations, such as insertion and deletion.
      Lists consume more memory.
      Lists have several built-in methods.

      **TUPLES**
      Tuples are immutable.
      The implication of iterations is comparatively Faster.
      A Tuple data type is appropriate for accessing the elements.
      Tuple consumes less memory as compared to the list.
      Tuple does not have many built-in methods.

4. **Describe how dictionaries store data.**

     ->  Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.  

5. **Why might you use a set instead of a list in Python?**

     -> The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

6. **What is a string in Python, and how is it different from a list?**

     -> In Python, a string is a sequence of characters, while a list is a sequence of items that can be of any type. Strings are immutable, meaning they cannot be changed after they are created, while lists are mutable and can be changed.

7. **How do tuples ensure data integrity in Python?**

     -> Tuples are immutable to ensure that their contents remain constant
        throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. **What is a hash table, and how does it relate to dictionaries in Python?**

     -> In Python, a hash table is a data structure that's implemented using the built-in dictionary data type. A hash table is a way to store key-value pairs, and it's used to make data access quick and efficient.

     **How does a hash table work?**

     A hash function generates a unique index value for each key.
     This index value points to an array element where the corresponding value is stored.
     This process is called hashing.

9. **Can lists contain different data types in Python?**

     -> Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10. **Explain why strings are immutable in Python.**

     -> Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.
     The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11. **What advantages do dictionaries offer over lists for certain tasks?**

     -> Dictionaries are faster than lists for tasks that involve searching for items, or looking up values. Dictionaries are also more flexible and can store more complex data structures.

12. **Describe a scenario where using a tuple would be preferable over a list.**

     -> Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. **How do sets handle duplicate values in Python?**

     -> Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. **How does the “in” keyword work differently for lists and dictionaries?**

     -> The in operator in Python is a membership operator used to check if a value is part of a collection. You can write not in in Python to check if a value is absent from a collection. Python's membership operators work with several data types like lists, tuples, ranges, and dictionaries. You can use operator.

15. **Can you modify the elements of a tuple? Explain why or why not.**

     -> No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

     **Explanation**

       Tuples are immutable, while lists are mutable.
       If you try to change a tuple element, you will receive a TypeError error.
       To add or remove elements from a tuple, you need to create a new tuple.
       Tuples are more memory-efficient than lists.

16. **What is a nested dictionary, and give an example of its use case?**

     -> A nested dictionary is a dictionary that is stored within another dictionary. It's a powerful tool for storing and organizing data with multiple layers.

     **Example**

      An organizational chart where the keys are departments and the values are dictionaries of employees in that department.

17. **Describe the time complexity of accessing elements in a dictionary.**

     -> The time complexity of accessing an element in a Python dictionary is O(1) on average, but can be O(n) in the worst case. The worst case occurs when there are many hash collisions or when the dictionary needs to be resized.

     **Explanation**

      Python dictionaries use a hashing system that allows them to quickly look up keys.
      The time complexity of dictionary operations depends on the size of the dictionary and the specific operation.
      The worst-case time complexity is the maximum amount of time required for inputs of a given size.
      Hash collisions in dictionaries can degrade O(1) operations to O(n).

18. **In what situations are lists preferred over dictionaries?**

     -> For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. **Why are dictionaries considered unordered, and how does that affect data
      retrieval ?**

      -> Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

20. **Explain the difference between a list and a dictionary in terms of data
      retrieval.**

      -> In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys.

      **Explanation**

      **Lists**
          Lists are ordered collections of items.
          Elements in a list are accessed using indices, which are integers that start at zero.
          Lists are good for ordered operations like sorting.
          Lists can contain duplicate items.
           
      **Dictionaries**

        Dictionaries are unordered collections of key-value pairs.
        Elements in a dictionary are accessed using keys, which can be of any data type.
        Dictionaries are good for lookup operations.
        Dictionaries do not allow duplicate keys.

**Practical Questions**

1. **Write a code to create a string with your name and print it.**

In [1]:
name = "MALLIKA"
print("My name is", name)

My name is MALLIKA

2. **Write a code to find the length of the string "Hello World".**

In [2]:
# Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

3. **Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the sliced text
print("The first 3 characters are:", sliced_text)

The first 3 characters are: Pyt

4. **Write a code to convert the string "hello" to uppercase.**

In [4]:
# Define the string
text = "hello"

# Convert the string to uppercase
uppercase_text = text.upper()

# Print the uppercase text
print(uppercase_text)

HELLO

5. **Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [5]:
text = "I like apple"
modified_text = text.replace("apple", "orange")
print(modified_text)

I like orange

6. **Write a code to create a list with numbers 1 to 5 and print it.**

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. **Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. **Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. **Write a code to reverse the list [10, 20, 30, 40, 50].**

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. ** Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. ** Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [13]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. ** Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. ** Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [15]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

16. **Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17. **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. **Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [22]:
my_dict = {
    "name": "Mallika",
    "age": 23,
    "city": "Roorkee"
}
print(my_dict)

{'name': 'Mallika', 'age': 23, 'city': 'Roorkee'}

22. **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [23]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

24. **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [26]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. ** Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [27]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.**Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [28]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Printing all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27. **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [29]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[37, 58, 62, 96, 97]

28. **Write a code to create a list with strings and print the element at the third index.**

In [30]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print(my_list[3])

date

29. **Write a code to combine two dictionaries into one and print the result.**

In [31]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

30. **Write a code to convert a list of strings into a set.**

In [32]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
my_set = set(my_list)

# Print the set
print(my_set)

{'apple', 'banana', 'cherry'}